:root {
  --primary-color: #123524;
  --secondary-color: #efe3c2;
  --text-color: #333;
  --message-background: #f9f9f9;
  --bot-message-background: #f1f1f1;
  --user-message-background: #85a947;
  --input-background: #fff;
  --input-border-color: #ccc;
  --button-color: #3e7b27;
  --button-hover-color: #45a049;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--message-background);
}

header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 0.1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.dropdown-container {
  margin-bottom: 1.5rem;
}

label {
  font-size: 1rem;
  margin-right: 0.5rem;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
}
