:root {
  --primary-color: #141b1e;
  --secondary-color: #5a5f61;
  --accent-color: #f4511e;
  --footer-color: white;
  --text-color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}
