:host {
  display: block;
  height: 100%;
  background-color: var(--message-background);
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
