.header {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 1px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: var(--accent-color);
}

.content-container {
  padding: 50px;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.wrapper {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h4 {
  margin-bottom: 15px;
  color: var(--text-color);
}

.mat-form-field {
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 4px;
}

.mat-select-arrow {
  color: var(--accent-color);
}

.footer {
  background-color: var(--secondary-color);
  color: var(--footer-color);
  padding: 0;
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
