/* Ensures the AppComponent uses full height for the layout */
:host {
  display: block;
  height: 100%;
  background-color: var(--message-background); /* Use the background color */
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adds space between the dropdown and the chat */
}
