<div class="chat-wrapper">
  <main>
    <div class="chat-container">
      <div class="chat-header">
        <p>Chat Support</p>
      </div>
      <div class="chat-messages" id="chat-messages">
        <p *ngFor="let message of messages" [ngClass]="message.type">
          {{ message.text }}
        </p>
      </div>
      <div class="chat-input-container">
        <textarea
          [(ngModel)]="userMessage"
          (input)="onInput($event)"
          (keydown)="onKeydown($event)"
          placeholder="Type your message..."
        ></textarea>
        <button (click)="sendMessage()">Send</button>
      </div>
    </div>
  </main>
</div>
