.chat-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  height: 600px;
  margin: 0 auto;
}

.chat-header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.chat-messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bot-message {
  color: #555;
  background-color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 8px;
  width: fit-content;
  max-width: 80%;
  align-self: flex-start;
}

.user-message {
  color: white;
  background-color: var(--user-message-background);
  padding: 0.5rem;
  border-radius: 8px;
  width: fit-content;
  max-width: 80%;
  align-self: flex-end;
}

.chat-input-container {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 0.5rem;
  background-color: #fff;
}

.chat-input-container textarea {
  flex: 1;
  padding: 0.15rem;
  margin: 0 7px 0 3px;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  resize: none;
  overflow-y: hidden;
  min-height: 25px;
  max-height: 150px;
  box-sizing: border-box;
  transition: height 0.3s ease;
  font-family: "Arial", sans-serif;
}

.chat-input-container button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.chat-input-container button:hover {
  background-color: #45a049;
}
